# IDE local settings
.vscode
.idea

# common unneeded files
.DS_Store
.venv

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignore lab backup file
*.clab.y?ml
# ignore dev lab files
clab-*
# logs dir contains logs from srlinux
logs
# agent binary
build
# source template files
.gen